<div class="row">
  <div class="col-12">
    <h1 class="mb-4">Ma bibliothèque</h1>
    <button class="btn btn-primary mb-4" (click)="onNewBook()">Nouveau livre</button>
    <div class="list-group">
      <button class="list-group-item"
              *ngFor="let book of books">
        <div class="d-flex justify-content-between">
          <h2 class="list-group-item-heading">{{ book.title }}</h2>
          <button class="btn btn-default" (click)="onDeleteBook(book)"><i class="fa fa-trash"></i></button>
        </div>
        <p class="text-left">{{ book.author }}</p>
      </button>
    </div>
  </div>
</div>
